*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(48, 179, 245);
    text-align: center;
    font-size: inherit;
}
#top{
    color: rgb(231, 30, 147);
    text-align: center;
    font-size: 46px;
    font-family: 'Ubuntu Mono',monospace;
}
#top1{
    text-align: center;
    color: black;
    font-size: 21px;
    font-family: 'Ubuntu Mono',monospace;
}

#navbar img{
    display: block;
    width: 15%;
    height: 75px;
    margin: auto;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 15px;
}
#navbar{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 20vh;
    width: 100vw;
    font-family: 'Ubuntu Mono',monospace;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
#navcontent{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a{
    padding: 1px;
    color: white;
    text-decoration: none;
}
ul li a:hover{
    background-color: red;
    border-radius: 15px;
}
#container1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 63vh;
}
#container1::before{
    contain: '';
    background: url(./2.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 59vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    font-family: 'Ubuntu Mono',monospace;
    margin-right: 45px;
    font-weight: bold;
    opacity: 0.89;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
}
#row1{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
.btn{
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono',monospace;
    padding: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color: red;
}
#container3{
    display: flex;
    justify-content: space-evenly;
}
#row2{
    width: 24vw;
    height: 21vh;
    box-shadow: 2px 7px 16px 19px;
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 38px;
    border-radius: 40px;
    position: relative;
}
#row2::before{
    content: '';
    background: url("./3.jpg")no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 21vh;
    z-index: -1;
    border-radius: 40px;
}
#row3{
    position: relative;
    width: 24vw;
    height: 21vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 2px 7px 16px 19px;
    margin-top: 51px;
    margin-bottom: 51px;
    margin-left: 38px;
    border-radius: 40px;
    
}
#row3::before{
    content: '';
    background: url("./4.jpg")no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 21vh;
    z-index: -1;
    border-radius: 40px;
}
#top3{
    text-align: center;
    color: rgb(104, 64, 64);
    font-family: 'Ubuntu Mono',monospace;
    font-size: 35px;
}
#container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 40px;
    position: relative;
}
#row4{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    border-radius: 15px;
    background: url("./4.jpg")no-repeat center center/cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
#row5{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    border-radius: 15px;
    background: url("./4.jpg")no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
#row6{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    border-radius: 15px;
    background: url("./4.jpg")no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer{
    text-align: center;
    background-color: black;
    padding: 15px;
    color: red;
    text-shadow: 2px 7px 16px 19px;
}

/* css for contact us*/

form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: whitesmoke;
    box-shadow: 2px 5px 10px rgba(0,0, 0, 0.5);
}
h1{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: blue;
    text-shadow: 2px 5px 10px rgba(0,0, 0, 0.5);
    
}
.form-control{
    text-align: left;
    margin-bottom: 10px;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.form-control input{
    width: 95%;
    padding: 10px;
    border: 1px solid #702323;
    border-radius: 5px;
    display: block;
    font-family: inherit;
}
.form-control select{
    width: 95%;
    padding: 10px;
    border: 1px solid #702323;
    border-radius: 5px;
    font-family: inherit;
    display: block;
}
.form-control select option{
    font-size: 15px;
 }
.form-control textarea{
    width: 95%;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
    font-family: inherit;
    display: block;
}
.form-control input[type="radio"]{
    display: inline-block;
    width: auto;
}
.form-control input[type="checkbox"]{
    width: auto;
    display: inline-block;
}
::placeholder{
    color: red;
}
.form-control input[type="submit"]{
    width: 95%;
    display: block;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background: blue;
}
.form-control input[type="reset"]{
    width: 95%;
    display: block;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background: red;
}
@media only screen and (max-width:1131px){
    #row4{
        width:42vw;
    }
    #row5{
        width: 45vw;
    }
    #row6{
        width: 90vw;
        margin-top: 20px;
    }
}